
body {
   font-family: "Poppins", sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

.lista-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    padding-left: 5%; 
    margin-left: -35%; 
}


.tarjeta {
    width: 850%; 
     height:400px;
    max-width: 1220px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ffffff; 
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.imagen-tarjeta {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
}

.cuerpo-tarjeta {
    padding: 15px;
    text-align: center; 
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333; 
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666666; 
    line-height: 1.6;
}


