 body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
            color: #333;
        }
         h1 {
            text-align: center;
            color: #2c3e50;
            margin-top: 180px;
            margin-bottom:50px;
            
        }
        .faq-container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .faq-item {
            margin-bottom: 20px;
            padding: 15px;
            background-color: #ecf0f1;
            border-radius: 6px;
            transition: background-color 0.3s ease;
        }
        .faq-item:hover {
            background-color: #bdc3c7;
        }
        .faq-question {
            font-weight: bold;
            font-size: 1.2em;
        }
        .faq-answer {
            margin-top: 10px;
            font-size: 1em;
            line-height: 1.6;
        }
        .faq-item:last-child {
            margin-bottom: 0;
        }
        
    
        