*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  background: white;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100px;
    background: #0d4d30;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.logo img {
    width: 270px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 18px;
    vertical-align: middle;
    position: relative; 
    left: -65px; 
}

/*Estilos del primer navbar*/
nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
}
.navbar .logo a{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    line-height: 120px;
}
nav .navbar .nav-links{
    line-height: 100px;
    height: 100%;
}
nav .navbar .links{
    display: flex;
    margin-left: 170px;
}
nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}


nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px;
}


.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{

    transform: rotate(180deg);
}

nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    color: black;
    transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
    display: block;
}
.navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
    /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
    display: block;
}
.navbar .search-box{
    position: relative;
    height: 40px;
    width: 40px;
}
.navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #f29325;
}


.navbar .nav-links .sidebar-logo{
    display: none;
}
.navbar .bx-menu{
    display: none;
}
@media (max-width:920px) {
    nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a{
        font-size: 27px;
    }
    nav .navbar .links li{
        padding: 0 10px;
        white-space: nowrap;
    }
    nav .navbar .links li a{
        font-size: 15px;
    }
}
@media (max-width:800px){
    nav{
        /* position: relative; */
    }
    .navbar .bx-menu{
        display: block;
    }
    nav .navbar .nav-links{
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background:  #f29325;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    
    
    
    
    
    .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name{
        font-size: 25px;
        color: black;
    }
    .sidebar-logo  i,
    .navbar .bx-menu{
        font-size: 25px;
        color: black;
    }
    nav .navbar .links{
        display: block;
        margin-top: 20px;
    }
    nav .navbar .links li .arrow{
        line-height: 40px;
    }
    nav .navbar .links li{
        display: block;
    }
    nav .navbar .links li .sub-menu{
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    nav .navbar .links li .sub-menu li{
        border-bottom: none;

    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
        position: relative;
        left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow{
        transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
    }
    .navbar .links li .sub-menu .more span{
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    .links li .sub-menu .more:hover .more-sub-menu{
        display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
        display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
    }
    .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
    }
}
@media (max-width:370px){
    nav .navbar .nav-links{
        max-width: 100%;
    }
}

.cart {
    margin-left: -40px;
    margin-right: 10px;

}

.cart img {
    width: 60px;
    height: auto;
    cursor: pointer;
    margin-right: -120px;
}

/*Estilos para el segundo navbar*/
.navbar-second {
    background-color: black;
    top: 100px;
    color: white;
    height: 25px;
    cursor: pointer;
    width: 100%;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0; 
    padding: 0;
    position: fixed; 
}

.navbar {
    margin: 0; 
    padding: 0; 
    width: 100%;
    position: relative;
    z-index: 99;
}

.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;
}

.flex a {
    text-decoration: none; /* Quita el subrayado */
    color: white;
    font-size: 14px;
    margin: 0 10px;
}

.navbar-second ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-second ul li {
    margin: 0px;
}


/*Otros del homepage*/
.main {
  height: 100vh;
  width: 100%;
  margin-top:120px;
}

.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  overflow: hidden;
}

.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}

a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}

.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }

  .swiper-pagination-bullet {
    visibility: visible;
  }
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
  gap: 30px;
  max-width: 1200px;
}

.card {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: 420px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card img {
  width: 70%; 
  height: auto;
  margin-bottom: 10px; 
  border-radius: 8px;
}

.card h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 10px; 
}

.card button {
  background-color: #0d4d30;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.card button:hover {
  background-color: black;
}

.card:hover {
  transform: translateY(-10px);
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 10px; 
}

.table-container {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: -10px;
    margin-left: -150px;
}

.table th, .table td {
    padding: 15px;
    vertical-align: middle;
    text-align: center;
}

.table-hover tbody tr:hover {
    background-color: #f9f9f9;
}

.w-75 {
    width: 75%; 
}

.container {
    max-width: 90%; 
    margin: auto;
    padding: 20px;
}


.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

.form-group1 {
    margin-left:-250px;
    width:1000px
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px; 
}

.social-icon {
  text-decoration: none; 
}

.social-icon i {
  font-size: 30px;
  color: white;
  transition: color 0.3s ease; 
}

.social-icon:hover i {
  color: #28a745;
}
