<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com  -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosa Verde</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/nuevo.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
      
      <div th:replace="~{layout/plantilla :: navTabs}"/>
  
    <section class="main swiper mySwiper">
      <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="images/CosaVerde.jpg" alt="" class="image" />
        </div>
        <div class="slide swiper-slide">
          <img src="images/img2.jpg" alt="" class="image" />
        </div>
      </div>

      <div class="swiper-button-next nav-btn"></div>
      <div class="swiper-button-prev nav-btn"></div>
      <div class="swiper-pagination"></div>
    </section>
      
      <div class="cards-container">
          <div class="card">
              <img src="images/cactus.jpg" alt="Cactus" />
              <h3>Cactus</h3>
             <a th:href="@{/catalogo}">
                  <button>Ver Catálogo</button>
              </a>
          </div>
          <div class="card">
              <img src="images/plantas.jpg" alt="Plantas" />
              <h3>Plantas</h3>
              <a th:href="@{/catalogo}">
                  <button>Ver Catálogo</button>
              </a>

          </div>
          <div class="card">
              <img src="images/suculentas.jpg" alt="Suculentas" />
              <h3>Suculentas</h3>
              <a th:href="@{/catalogo}">
                  <button>Ver Catálogo</button>
              </a>
          </div>
      </div>

       

    </section>
      
      <footer th:replace="~{layout/plantilla :: footer}"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      });
    </script>
  </body>
</html>