<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
   <head th:fragment="head">
        <title>Cosa Verde</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/style.css}" rel="stylesheet" />  
        <link th:href="@{/css/inventarios.css}" rel="stylesheet" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
             <script th:src="@{/js/script.js}" th:defer="defer"></script>
    </head>


    <body>
         <section th:fragment="navTabs" id="navbar">
        <nav>
                <div class="navbar">
                    <i class='bx bx-menu'></i>
                    <div class="logo">
                        <a th:href="@{/}">
                            <img src="/images/Logo.png" alt="Logo"/>
                        </a>
                    </div>
                    <div class="nav-links" role="navigation">
                        <div class="sidebar-logo">
                            <h1 class="logo-name">CosaVerde</h1> 
                            <i class="bx bx-x"></i>
                        </div>
                        <ul class="links">
                            <li><a th:href="@{/catalogo}">Catálogo</a></li>
                            <li><a  th:href="@{/serviciosCliente}">Servicios</a></li>
                            <li><a th:href="@{/cursosCliente}">Cursos</a></li>
                            <li><a th:href="@{/faq}">FAQ</a></li>
                            <li><a th:href="@{/contacto}">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a th:href="@{/carrito/listado}">
                            <img src="/images/carrito.png" alt="Carrito"/>
                        </a>
                    </div>
                </div>
            </nav>
        <nav class="navbar-second flex">
                <div class="right flex">
                    <ul>
                        <li th:if="${session.usuario != null}">
                            <span>
                                Bienvenido, <span th:text="${session.usuario.nombre}"></span>
                            </span>
                        </li>
                        <li class="login" >
                            <a th:href="@{/usuarios}">Usuarios</a>
                        </li>
                        <li class="login" >
                            <a th:href="@{/facturas}">Facturas</a>
                        </li>
                        <li class="login" >
                            <a th:href="@{/citas}">Citas</a>
                        </li>
                        <li class="login" >
                            <a th:href="@{/descuentos}">Descuentos</a>
                        </li>
                        <li class="login" >
                            <a th:href="@{/servicios}">Servicios</a>
                        </li>
                        <li class="login" >
                            <a th:href="@{/cursos}">Cursos</a>
                        </li>
                        <li class="login" >
                            <a th:href="@{/direcciones}">Direcciones</a>
                        </li>
                        
                        <li class="login" >
                            <a th:href="@{/categorias}">Categorías</a>
                        </li>
                        <li class="login" >
                            <a th:href="@{/productos}">Productos</a>
                        </li>
                        <li class="login" >
                            <a th:href="@{/inventarios}">Inventarios</a>
                        </li>
                        <li class="login" th:if="${session.usuario == null}" >
                            <a th:href="@{/login}">Iniciar sesión</a>
                        </li>
                        <li>
                            <div class="register"  th:if="${session.usuario == null}">
                                <a th:href="@{/registro}">Registrarse</a>
                            </div>
                        </li>
                         <li th:if="${session.usuario != null}">
                            <a th:href="@{/logout}">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        
<footer th:fragment="footer" class="footer">
  <p>&copy; 2024 Cosa Verde Todos los derechos reservados.</p>
  <div class="social-icons">
    <a href="https://www.tiktok.com/@cosaverdecr?_t=8lQgCRmPhhO&_r=1" target="_blank" class="social-icon">
      <i class="fab fa-tiktok"></i>
    </a>
    <a href="https://www.instagram.com/cosaverdecr/" target="_blank" class="social-icon">
      <i class="fab fa-instagram"></i> 
    </a>
    <a href="https://bento.me/cosaverde?fbclid=PAZXh0bgNhZW0CMTEAAaZddzQISRwZ-vEJ86aKvW-v66aMO9BtbLVBvq41pSQGA7oKX2oWKj9x48o_aem_e3MtYglQ9RAkBhX5ZKE9pg" target="_blank" class="social-icon">
      <i class="fa-solid fa-link"></i>
    </a>
  </div>
</footer>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </body>
</html>
