<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cosa Verde</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="lista" id="lista">
            <h1>Cursos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Precio</th>
                    <th>Capacidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="curso : ${cursos}">
                    <td th:text="${curso.nombre}"></td>
                    <td th:text="${curso.descripcion}"></td>
                    <td th:text="${curso.fecha}"></td>
                    <td th:text="${curso.hora}"></td>
                    <td th:text="${curso.precio}"></td>
                    <td th:text="${curso.capacidad}"></td>
                    <td>
                        <a th:href="@{/curso/editar/{id}(id=${curso.idCurso})}">Editar</a>
                        <a th:href="@{/curso/eliminar/{id}(id=${curso.idCurso})}" onclick="return confirm('¿Estás seguro de eliminar este curso?')">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    </body>
</html>
